h1 {
	color: Brown;
}

li{
	list-style: square;
}

.center {
	width: 50%;
	margin: auto;
	text-align: center;
	background-image: url("https://media2.trover.com/T/55a3c4698e7cb223c3004ba8/fixedw_large_4x.jpg");
	font-weight: bold;
	text-shadow: 0 0 1px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: large;
}

img{
	height:  150px;
	width: auto;
	border: solid black;
}


